In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pickle
from sklearn.externals import joblib

In [2]:
# Files to Load
team_batting_csv = "Data/TeamBatting.csv"
team_fielding_csv = "Data/TeamFielding.csv"
team_pitching_csv = "Data/TeamPitching.csv"
team_waa_csv = "Data/TeamWAA.csv"
ari_csv = "Data/ARI_season_stats.csv"
atl_csv = "Data/ATL_season_stats.csv"
bal_csv = "Data/BAL_season_stats.csv"
bos_csv = "Data/BOS_season_stats.csv"
chc_csv = "Data/CHC_season_stats.csv"
chw_csv = "Data/CHW_season_stats.csv"
cin_csv = "Data/CIN_season_stats.csv"
cle_csv = "Data/CLE_season_stats.csv"
col_csv = "Data/COL_season_stats.csv"
det_csv = "Data/DET_season_stats.csv"
hou_csv = "Data/HOU_season_stats.csv"
kcr_csv = "Data/KCR_season_stats.csv"
laa_csv = "Data/LAA_season_stats.csv"
lad_csv = "Data/LAD_season_stats.csv"
mia_csv = "Data/MIA_season_stats.csv"
mil_csv = "Data/MIL_season_stats.csv"
min_csv = "Data/MIN_season_stats.csv"
nym_csv = "Data/NYM_season_stats.csv"
nyy_csv = "Data/NYY_season_stats.csv"
oak_csv = "Data/OAK_season_stats.csv"
phi_csv = "Data/PHI_season_stats.csv"
pit_csv = "Data/PIT_season_stats.csv"
sdp_csv = "Data/SDP_season_stats.csv"
sea_csv = "Data/SEA_season_stats.csv"
sfg_csv = "Data/SFG_season_stats.csv"
stl_csv = "Data/STL_season_stats.csv"
tbr_csv = "Data/TBR_season_stats.csv"
tex_csv = "Data/TEX_season_stats.csv"
tor_csv = "Data/TOR_season_stats.csv"
wsn_csv = "Data/WSN_season_stats.csv"

In [3]:
# Read Data File and store into Pandas Data Frames
team_batting = pd.read_csv(team_batting_csv)
team_fielding = pd.read_csv(team_fielding_csv)
team_pitching = pd.read_csv(team_pitching_csv)
team_waa = pd.read_csv(team_waa_csv)
ari = pd.read_csv(ari_csv)
atl = pd.read_csv(atl_csv)
bal = pd.read_csv(bal_csv)
bos = pd.read_csv(bos_csv)
chc = pd.read_csv(chc_csv)
chw = pd.read_csv(chw_csv)
cin = pd.read_csv(cin_csv)
cle = pd.read_csv(cle_csv)
col = pd.read_csv(col_csv)
det = pd.read_csv(det_csv)
hou = pd.read_csv(hou_csv)
kcr = pd.read_csv(kcr_csv)
laa = pd.read_csv(laa_csv)
lad = pd.read_csv(lad_csv)
mia = pd.read_csv(mia_csv)
mil = pd.read_csv(mil_csv)
minn = pd.read_csv(min_csv)
nym = pd.read_csv(nym_csv)
nyy = pd.read_csv(nyy_csv)
oak = pd.read_csv(oak_csv)
phi = pd.read_csv(phi_csv)
pit = pd.read_csv(pit_csv)
sdp = pd.read_csv(sdp_csv)
sea = pd.read_csv(sea_csv)
sfg = pd.read_csv(sfg_csv)
stl = pd.read_csv(stl_csv)
tbr = pd.read_csv(tbr_csv)
tex = pd.read_csv(tex_csv)
tor = pd.read_csv(tor_csv)
wsn = pd.read_csv(wsn_csv)

In [4]:
#concat to put all teams in one dataframe
team_wl = pd.concat([ari, atl, bal, bos, chc, chw, cin, cle, col, det, hou, kcr, laa, lad, mia, mil, minn, nym, nyy,
                   oak, phi, pit, sdp, sea, sfg, stl, tbr, tex, tor, wsn])

In [5]:
# view team_wl
team_wl.head()

   Gm#   Tm  Opp W/L   R  RA
0    1  ARI  LAD   L   5  12
1    2  ARI  LAD   W   5   4
2    3  ARI  LAD   L   5  18
3    4  ARI  LAD   L   7   8
4    5  ARI  SDP   W  10   3

In [6]:
# merge batting and fielding statistics
combined_stats1 = pd.merge(team_batting, team_fielding,  on = "Tm", how = "inner")
combined_stats1.head()

,Tm,#Bat,BatAge,R/G,G_x,PA,AB,R,H,2B,...,Ch,PO,A,E,DP,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr
0,ARI,45,28.7,5.02,162,6315,5633,813,1419,288,...,6041,4395,1560,86,136,0.986,53,5,75.0,7.0
1,ATL,50,28.0,5.28,162,6302,5560,855,1432,277,...,5952,4352,1522,78,154,0.987,5,0,37.0,3.0
2,BAL,58,26.5,4.50,162,6189,5596,729,1379,252,...,5879,4329,1442,108,155,0.982,6,1,-89.0,-8.0
3,BOS,47,27.3,5.56,162,6475,5770,901,1554,345,...,5937,4413,1436,88,115,0.985,-7,-1,-37.0,-3.0
4,CHC,52,27.7,5.02,162,6195,5461,814,1378,270,...,6063,4326,1619,118,141,0.981,9,1,-7.0,-1.0

In [7]:
# add pitching statistics
combined_stats =pd.merge(combined_stats1, team_pitching,  on = "Tm", how = "inner")
combined_stats.head()

,Tm,#Bat,BatAge,R/G,G_x,PA,AB,R_x,H_x,2B,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB_y
0,ARI,45,28.7,5.02,162,6315,5633,813,1419,288,...,6230,105,4.40,1.308,8.6,1.4,3.2,8.8,2.77,1092
1,ATL,50,28.0,5.28,162,6302,5560,855,1432,277,...,6243,109,4.39,1.357,8.8,1.3,3.4,8.6,2.54,1148
2,BAL,58,26.5,4.50,162,6189,5596,729,1379,252,...,6396,84,5.56,1.459,9.6,1.9,3.5,7.8,2.22,1086
3,BOS,47,27.3,5.56,162,6475,5770,901,1554,345,...,6400,103,4.28,1.379,8.7,1.3,3.7,10.0,2.70,1159
4,CHC,52,27.7,5.02,162,6195,5461,814,1378,270,...,6190,109,4.25,1.325,8.6,1.2,3.3,9.0,2.70,1147

In [8]:
# add hitting, fielding and pitching statistics to the team's w/l records
team_combined_stats = pd.merge(team_wl, combined_stats, on = "Tm", how = "inner")
team_combined_stats.head()

,Gm#,Tm,Opp,W/L,R,RA,#Bat,BatAge,R/G,G_x,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB_y
0,1,ARI,LAD,L,5,12,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
1,2,ARI,LAD,W,5,4,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
2,3,ARI,LAD,L,5,18,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
3,4,ARI,LAD,L,7,8,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
4,5,ARI,SDP,W,10,3,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092

In [9]:
# dropping summary lines from table where no team is listed. Each team's file contained sum/summary totals at the bottom
updated_team_stats = team_combined_stats.drop(team_combined_stats.index[20:50])
updated_team_stats.head()

,Gm#,Tm,Opp,W/L,R,RA,#Bat,BatAge,R/G,G_x,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB_y
0,1,ARI,LAD,L,5,12,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
1,2,ARI,LAD,W,5,4,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
2,3,ARI,LAD,L,5,18,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
3,4,ARI,LAD,L,7,8,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
4,5,ARI,SDP,W,10,3,45,28.7,5.02,162,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092

In [10]:
#dropping uneccessary columns
team_stats_drop = updated_team_stats.drop(columns =["#Bat", "BatAge", "G_x", "PA"])
team_stats_drop.head()

,Gm#,Tm,Opp,W/L,R,RA,R/G,AB,R_x,H_x,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB_y
0,1,ARI,LAD,L,5,12,5.02,5633,813,1419,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
1,2,ARI,LAD,W,5,4,5.02,5633,813,1419,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
2,3,ARI,LAD,L,5,18,5.02,5633,813,1419,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
3,4,ARI,LAD,L,7,8,5.02,5633,813,1419,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
4,5,ARI,SDP,W,10,3,5.02,5633,813,1419,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092

In [11]:
team_stats_drop.to_csv("Data/updated_team_stats.csv")

In [21]:
# separate w/l to use to train
yTr= team_stats_drop['W/L']
xTr = team_stats_drop.drop(columns =['W/L','Tm', 'Opp','R','RA','Gm#','W','W-L%','L'])
xTr.head()

,R/G,AB,R_x,H_x,2B,3B,HR_x,RBI,SB,CS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB_y
0,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
1,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
2,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
3,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
4,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092

In [22]:
# stats included wo with either the W or L indicator for walk off wins/losses. dropping the wo from both outcomes. setting y
y1 = yTr.replace('L-wo', 'L')
y = y1.replace('W-wo','W')
y.head()

0    L
1    W
2    L
3    L
4    W
Name: W/L, dtype: object

In [23]:
# converting the W/L column to a numeric value for training purposes. Dropping the L column to leave 1 = W, 0 = L
y2 =pd.get_dummies(y)
y2 =y2.drop(columns =['L'], axis = 1)
y2.head()

   W
0  0
1  1
2  0
3  0
4  1

In [24]:
# defining X
X = xTr
X.head()

,R/G,AB,R_x,H_x,2B,3B,HR_x,RBI,SB,CS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB_y
0,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
1,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
2,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
3,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092
4,5.02,5633,813,1419,288,40,220,778,88,14,...,6230,105,4.4,1.308,8.6,1.4,3.2,8.8,2.77,1092

In [25]:
# setting feature names and test/train split 
feature_names = X.columns
X_train, X_test, y_train, y_test = train_test_split(X, y2, random_state=1, stratify=y)

In [26]:
# fitting model
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)

C:\Users\marcu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
# getting score for training data
rf.score(X_train, y_train)

0.5849212924606463

In [28]:
# getting score for test data
rf.score(X_test, y_test)

0.5716652858326429

In [29]:
# getting weight for each feature
sorted(zip(rf.feature_importances_, feature_names), reverse = True)

[(0.08201595111950001, 'OBP'),
 (0.05909667821625101, 'R/G'),
 (0.05825077566918006, 'OPS'),
 (0.05725245922941494, 'RA/G_y'),
 (0.04976186417526024, 'R_x'),
 (0.0484144001696654, 'ER'),
 (0.04542514060241864, 'RA/G_x'),
 (0.039887074749154316, 'ERA+'),
 (0.03635385291337716, 'ERA'),
 (0.032313900580041965, 'FIP'),
 (0.03197193911764442, 'R_y'),
 (0.030633682439907196, 'SLG'),
 (0.02605907870245072, 'BB_x'),
 (0.02599171632851731, 'RBI'),
 (0.025325674721320926, 'HR_x'),
 (0.023842538343443347, 'TB'),
 (0.019712356911343102, 'H9'),
 (0.01936193169871564, 'SV'),
 (0.015667952114775577, 'OPS+'),
 (0.015218030883346279, 'SO/W'),
 (0.013041364126707408, 'WHIP'),
 (0.012681450903717915, 'BF'),
 (0.01175308328395565, 'BA'),
 (0.009948358962556659, 'H_x'),
 (0.00963080520616264, 'Rtot'),
 (0.009400165751835266, '2B'),
 (0.009220558134301369, 'BB_y'),
 (0.008842819454567266, 'LOB_x'),
 (0.008277224998669614, 'IBB_x'),
 (0.008128946897570917, 'WP'),
 (0.007915617552932727, 'Ch'),
 (0.007808015028536035, 'A'),
 (0.0074177833036207655, 'HR_y'),
 (0.00715583773994675, 'SO_y'),
 (0.006074259160811332, 'Rdrs'),
 (0.005708283226792853, 'H_y'),
 (0.005639492004260468, 'PO'),
 (0.0054463083812684495, 'CG_x'),
 (0.005303379169712741, 'Inn'),
 (0.004897276752293353, 'DefEff'),
 (0.004674499468091174, 'CS'),
 (0.004512067097291964, 'AB'),
 (0.0044138073152381494, 'SO_x'),
 (0.004271467937828656, 'tSho'),
 (0.004194290832055607, 'GDP'),
 (0.004145810272358597, 'LOB_y'),
 (0.004124745318350741, 'IBB_y'),
 (0.0039478783465833715, 'Fld%'),
 (0.0039335434083843605, 'PAge'),
 (0.0036307759108373037, 'DP'),
 (0.0035591530018374063, 'HBP_y'),
 (0.0033035111614220804, 'Rdrs/yr'),
 (0.0032850794407244237, 'HBP_x'),
 (0.00314724490363498, 'IP'),
 (0.003135051164579796, '#P'),
 (0.0031271725777227903, 'Rtot/yr'),
 (0.002988773039227879, 'BK'),
 (0.002980018435345041, 'SF'),
 (0.0028778512136786285, 'SB'),
 (0.002791144901431209, 'E'),
 (0.0027644547032181044, 'SO9'),
 (0.002707974838509099, 'SH'),
 (0.0025120893935604177, 'HR9'),
 (0.002201149320968028, '3B'),
 (0.0019850572810585056, 'BB9'),
 (0.0019775510598152293, 'cSho'),
 (0.0017145328064213769, '#Fld'),
 (0.001351824977754966, 'GF'),
 (0.0011124823183922498, 'CG_y'),
 (0.0005722021924101017, 'GS_x'),
 (0.0005587066741845149, 'GS_y'),
 (0.00032882024955685485, 'G'),
 (0.000321239711578004, 'G_y')]